{% extends "base.html" %}

{% block body %}

<div class="container mx-auto flex py-10 flex-wrap text-purple-700">
    
    <div class="flex flex-wrap justify-between">
        <div>
        <p class="text-2xl px-10 py-10 text-wrap text-justify">
            <span class="text-5xl font-bold text-fuchsia-900">O</span>nce upon a time, in a bustling city filled with dreams and aspirations, a small group of technologists gathered. They shared a common vision: to empower others to turn their ideas into reality. Despite facing countless challenges and setbacks, they persevered, their determination fueled by a belief in the power of innovation. Their journey led them to create <span class="zigzag-underline-normal text-3xl font-extrabold">Capita7</span> , a platform designed to nurture and support budding entrepreneurs. Now, they invite you to join them on this exciting adventure and let your entrepreneurial spirit soar.
        </p>
        <p class="text-2xl px-10 py-5 text-wrap text-justify">

            <span class="text-3xl font-bold text-fuchsia-900">We Empower your Imagines ! </span>You are just an Email Away . Shoot Us your thoughts on <a class="text-3xl font-bold text-fuchsia-900" href="mailto:hi@capita7.com" target="_blank" rel="noopener noreferrer"> hi@capita7.com </a>, we will be more than happy to invite you for a coffee. ☕️

            - Team Capita7
        
        </p>
    </div>
    </div>

    <div class="flex-wrap py-5 ">
        <p class="text-3xl font-sm py-5 px-10 zigzag-underline "><span class="text-4xl font-bold text-fuchsia-900">O</span>ur Expertise 🏛️ </p>

        <ul class=" list-none flex space-x-2 space-y-1 px-10 flex-wrap ">
            {% for item in config.extra.skills %}
            <li class="p-1 font-mono text-wrap shadow bg-purple-50 bg-gradient-to-r from-transparent to-zinc-50 hover:bg-teal-50 text-slate-500 hover:text-lime-900 border-cyan-400 rounded-xl border-2">
                    {{ item }}
            </li>
            {% endfor %}
        </ul>
        <ul class=" list-none flex space-x-2 space-y-1 flex-wrap ">
        <p class="text-3xl font-bold px-auto mx-auto justify-center"><br><br>🛟 <span class="text-4xl font-extrabold text-fuchsia-900">R</span>est Assured you are in SafeHands.🛟 </p>
    </ul>
    </div>
</div>
{% endblock %}