{% extends "base.html" %}

{% block body %}


    <div class="container mx-auto flex-col-reverse  ">
      <p class="text-4xl text-center py-10 zigzag-underline text-purple-700">
        {{page.title}}
      </p>
  </div>

    <div class=" container py-5 mx-auto rounded-lg ml-15 px-15 flex justify-between flex-wrap">

      <div class=" container overflow-hidden prose-purple mx-auto p-5 text-justify text-wrap md:text-3xl lg:text-2xl text-sm ">
        {{ page.content | safe }}
          
      </div>


    </div>


 
{% endblock %}
